body {
    background: url('../images/ui/bg.jpg');
    padding-top: 10px;
}

.clear {
    clear: both;
}

#container {
    width: 640px;
    height: 640px;
    float: left;

}

#hud-container {
    height: 640px;
    width: 250px;
    float: left;
    background: #eee;

    padding: 10px;
    overflow-y: hidden;
    text-align: left;
}

.game-ui {
    display: none;
}

.game-started .game-ui {
    display: block;
}

#hud-container h3 {
    margin-top: 0;
}

#hud-messages {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    font-size: 0.8em;
    margin-top: 10px;
}

#hud-messages:empty {
    display: none;
}

#hero-inventory .item {
    cursor: pointer;
}

#game-ui {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background: #f7e9d7;
    border: 5px solid rgba(150,103,51,0.3);
}